 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
var{  --login-bg: ;
  --login-color: #3b4148;
  --login-bg-from: #FC466B;
  --login-bg-to: ;
}
.loginbg{
  --login-line-height: 1.5;
  line-height: var(--login-line-height);
  background-color: #edeff3;
  background: linear-gradient(45deg, #FC466B, #3F5EFB);
  color: #333;
  height: auto;
  min-height: 100%;
  width: 100%;
  display: flex;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logincard{
   
    backdrop-filter: blur(10px);
   background: hsl(0deg 0% 100% / 45%);
    border-left: 1px solid hsla(0, 0%, 100%, .3);
    border-radius: 1.375rem;
    border-top: 1px solid hsla(0, 0%, 100%, .3);
    box-shadow: 1.375rem 1.375rem 2.175rem -.275rem rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
 
    padding: 3rem;
    position: relative;
    z-index: 1;
}
 label{
  text-align: left !important;
  display: flex !important;
  padding: 0 0 0 10px;
}
.logincard input{
  backdrop-filter: blur(5px);
    background: transparent;
    border: 0;
    border-left: 1px solid hsla(0, 0%, 100%, .3);
    border-radius: 5000px;
    border-top: 1px solid hsla(0, 0%, 100%, .3);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
    color: #333;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: .57em 1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition: all .2s 
ease-in-out;
    width: -webkit-fill-available;
}
.form-control:focus{
  outline: none !important;
  box-shadow: none !important;
}
.logincard .btn-submit{
  align-items: center;
    background: #480e79;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    color: #fff;
    display: flex;
    font-size: 15px;
    height: 50px;
    justify-content: center;
    line-height: 1.2;
    outline: none !important;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
    transition: all .3s;
    width: 100%;
    font-weight: 600;
}
.logincard .btn-submit:hover{
  border: 1px solid #480e79;
  color: #480e79;
}